header {
    height: 36rem;
    background-color: #F0FFF0;
    padding-top: 1rem;
}

.logo {
    width: 30%;

}

.banner {
    margin-top: 5rem;
}

.nav-resize li {
    padding-left: 1rem;
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
        
}

#sign_in_text {
    width: 104px;
    background: #21B573;
    border-radius: 33px;
    color: white;
    text-align: center;
}

.btn-primary {
    background: #21B573;
    border-radius: 33px;
    border-color:#21B573 ;
    padding: 5px 20px 5px 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card img {
    width:4.5rem;
}

.card-section {
    height: 18rem;
    border:white;
    background-color:#F8FFFB;
    margin-top: 3rem;
    
}

.card-section img {
    margin-top: 25%;
}

.card-section:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
}